/* FRONTIER - the theme starter kit for page builders! */

/* 001 - Base Elements */
/* This section provides overrides to the default CSS that Hubzilla uses
for specific HTML classes. */

/* Because we are dealing with a landing page (that's this theme's purpose),
we must get rid of borders, unnecessary padding, and margins. The intent is to
be as chromeless as possible, and save the actual styling for
custom elements. */

section {
  margin: 0px;
}

.section-title-wrapper h2, .section-subtitle-wrapper h3 {
  padding-top: 0px;
}

.widget h3 {
  padding-top: 0px;
}

.section-content-wrapper {
    padding: 0px;
}

.generic-content-wrapper {
    border: none;
    box-shadow: none;
}

.widget {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
}

.jumbotron {
  background-color: transparent;
}

/* By default, the horizontal class declaration used on menus does not work out
of the box, meaning that we must override it for now. */

ul.pmenu-body.nav.nav-pills.flex-column {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

/* 002 - Custom UI Elements */
/* This section provides styling to bespoke classes and IDs that are explicitly
being used on my personal site. */

.jumbo-about {
  margin-left: 21px;
  vertical-align: top;
  display: inline-block;
  max-width: 70%;
  color: #fff;
}

.jumbo_wrap {
  background-image: url('../img/stars.jpg');
  background-attachment: fixed;
  background-size: contain;
}

img.jumbo-avatar {
  width: 21%;
  display: inline-block;
  border-radius: 100%;
  box-shadow: 0px 0px 14px #6e6e6e;
}

#hubzilla_banner img {
  max-width: 100%;
}

.artwork {
  margin: auto;
}

#art {
  margin: 10px;
  border: none;
}
