main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1430px;
}

a, .fakelink {
    color: #e41085;
}

/* Navbar */

header #banner {
      margin-top: 0px;
}

header #banner img {
  max-width: 60%;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c3c3c, endColorstr=#222, GradientType=0);
    background-color: rgb(249, 249, 249);
    border-color: #777;
}

.navbar .container-fluid {
      border-left: double 22px #e41085;
}

.navbar-inverse .navbar-nav > .active > a {
    background-image: -webkit-linear-gradient(top, #222 0%, #282828 100%);
    background-image: linear-gradient(to bottom, #777777 0%, #777777 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#222, endColorstr=#282828, GradientType=0);
}

.navbar-inverse .navbar-nav > li > a {
    color: #777;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #777;
    color: #f9f9f9;
}

#nav-search-text {
  font-size: 12px;
  width: 200px;
  height: 50px;
  margin: 0px;
  padding: 0px 0px 0px 5px;
  border-radius: 0;
  border-color: transparent;
  background-color: #e6e6e6;
  font-weight: bold;
  transition: background-color 300ms ease 0s;
}

#nav-search-text:hover, #nav-search-text:focus {
    background-color: #777;
    color: #f9f9f9;
}

nav .badge {
  background: #e41085;
}

#expand-aside, #expand-tabs, #context-help-btn {
    color: #fff;
    padding: 7px 10px;
}

.navbar-inverse .navbar-toggle {
    border-color: #222;
    background-color: #e41085;
    border: none;
    border-radius: 20px;
    padding: 9px 5px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #e41085;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}

/* Sidebar Haxx */

aside#region_1 {
  padding-top: 50px !important;
  padding-left: 0;
  padding-right: 0;
  border: 0px solid #000;
  box-shadow: 1px 1px 4px #5d5d5d;
  width: 287  px;
}

.widget h3 {
  text-align: center;
}

#datebrowse-sidebar.widget, #categories-sidebar.widget {
  text-align: center;
}

.fn {
    font-weight: bold;
    font-size: 16px;
    color: #444444;
    text-align: center;
}

/* There is probably a better way to do this */

aside#region_3 {
  padding-top: 71px;
  display: none;
}

.vcard {
  padding: 0;
}

#profile-photo-wrapper {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0px;
    height: auto;
}

/* Stream */

section#region_2 {
    padding-top: 71px;
    padding-left: 1em;
    padding-right: 1em;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQIW2NkYGCoZ2Bg2MIABYwMDAzGMA6IRhbwAanEUAEAb/wC0R58VikAAAAASUVORK5CYII=
    ) repeat;
}

.slider-container .scale ins {
    font-size: 9px;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 5px;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.wall-item-body img {
    border: 0;
    width: 100%;
    height: auto;
}

img.smiley {
  width: 18px;
}

.shared_header img {
  width: 35px;
}

.shared_container {
  background: #ddd;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 3px;
}

.nav-tabs.nav-justified {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #afafaf;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid #e6e6e6;
    background: #e6e6e6;
    border-radius: 0;
    font-weight: bold;
    color: #777;
}

.nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 0;
    color: #e41085;
    font-weight: bold;
}

.generic-content-wrapper {
    box-shadow: none;
    border-radius: 4px;
    border: 1px #929292 solid;
}

.wall-item-content-wrapper {
    background-color: rgb(255, 255, 255);
}


/* Calendar */

.fc table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    height: 7em;
}
